{% extends 'base.html.twig' %}

{% block title %}
    Edit Lien
{% endblock %}

{% block body %}
    <h1>
        Edit Lien
    </h1>

    {{
        include(
            'user_management_lien/_form.html.twig',
            {
                button_label: 'Update'
            }
        )
    }}

    <a href="{{ path('user_management_lien_index') }}">back to list</a>

    {{ include('user_management_lien/_delete_form.html.twig') }}
{% endblock %}
