<IfModule mod_rewrite.c>
  RewriteEngine on
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule (.+) index.php?p=$1 [QSA,L]

  RewriteCond %{DOCUMENT_ROOT}/maintenance.html -f
  RewriteCond %{SCRIPT_FILENAME} !maintenance.html
  RewriteRule ^.*$ /maintenance.html [R=503,L]

  RewriteCond %{DOCUMENT_ROOT}/maintenance.html -f
  RewriteRule ^(.*)$ - [env=MAINTENANCE:1]

  <IfModule mod_headers.c>
    Header set cache-control "max-age=0,must-revalidate,post-check=0,pre-check=0" env=MAINTENANCE
    Header set Expires -1 env=MAINTENANCE
  </IfModule>
</IfModule>

ErrorDocument 503 /maintenance.html

# DISABLE DIRECTORY INDEXES
Options -Indexes
