
<!DOCTYPE html>
<head lang="fr">
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Disable tap highlight on IE -->
    <meta name="msapplication-tap-highlight" content="no">

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="application-name" content="ATU">
    <link rel="icon" sizes="192x153" href="/images/icons/chrome-touch-icon-192x192.png">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Cardio Stat">
    <link rel="apple-touch-icon" href="/images/icons/apple-touch-icon.png">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="/images/icons/icon-144x144.png">
    <meta name="msapplication-TileColor" content="#0069d9">

    <!-- Color the status bar on mobile devices -->
    <meta name="theme-color" content="#ffffff">   
    
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">

    <title>Le système est arrêté pour maintenance.</title>
 
    <link href="//netdna.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/assets/app.css">
      <style type="text/css">
       .DialogBody { margin: 0;padding: 10px;text-align: left; border: 1px solid #ccc;border-right: 1px solid #999;border-bottom: 1px solid #999;background-color: #fff;}
      </style>    
    </head>
<body>
        <header class="d-flex flex-column justify-content-center align-items-center mb-3 p-3 bg-light">
    <h1 class="font-weight-light text-center px-3">Bienvenue sur la plateforme de l'ATU de cohorte <br/><b>bamlanivimab</b></h1>
</header>
  <div class="container">
        <center><figure style="width: 10rem;"><img src="https://www.atu-bamlanivimab.com/images/core/logo_square.svg" class="lms-logo-img" alt="logo"/></figure></center>
        <div class="row align-items-center justify-content-center">
            <div class="jumbotron">
                <div class="DialogBody" style="text-align: center;">
                    <div style="text-align: center; width: 400px; margin: 0 auto;">
                         <p style="color: red; font-size: 18px; line-height: 20px;">
                            Le système est arrêté pour maintenance.
                         </p>
                         <p style="color: #666;">
                           Ce sera bientôt de retour.
                         </p>
                    </div>
                </div> 
            </div>      
        </div>
  </div>

<!-- Footer -->
<footer class="container-fluid p-3 text-center lms-footer" style="position:absolute;bottom: 0;">
    <p class="d-inline-block my-0 mx-3">PP-MG-FR-0857_Mars 2021</span> <a target="_blank" href="//docs/charte_utilisation.pdf">Charte d&#039;utilisation</a></p><br>
    <p class="d-inline-block my-0 mx-3">ATU bamlanivimab Version 1.0.0 &ndash; </p>
    <p class="d-inline-block my-0 mx-3">Copyright © 2021 ATU bamlanivimab. Powered by XXX - All rights reserved.</p>
</footer>
<!-- Fin footer -->

<script src="https://code.jquery.com/jquery-3.3.1.min.js"  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script>
    $(function() {
        setTimeout(function(){ window.location.reload(); }, 10000);  
    });
</script>            
</body>
</html>
